<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Properties</h1>
  <%= link_to 'New Property', new_property_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Area</th>
      <th>Placeid</th>
      <th>Price</th>
      <th>Extra description</th>
      <th>Transaction type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td class="text-break"><%= property.title %></td>
        <td><%= property.area %></td>
        <td class="text-break"><%= property.placeId %></td>
        <td><%= property.price %></td>
        <td class="text-break"><%= property.extra_description %></td>
        <td><%= property.transaction_type.label %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
